import random

def for_word():
    fruits=["apple","banana","mango","orange","grape","kiwi","grapefruit","peach","date","blueberry","apricot","blackberry","pineapple","lychee","pear"]
    element=random.choice(fruits)
    return element #extracting a random element from the list
 
attempts = 6

word=for_word() #we get the word to be guessed

word_letters=set(word) #the letters in the word
guessed_letters=set() #the letters guessed by players

while attempts>0 and word_letters: #loops works while we have attempts left and there are letters to guess
    display=[letter if letter in guessed_letters else "___" for letter in word]
    print("Current Word: ", " ".join(display)) #displays the word with blanks and guessed letters

    guess=input("Guess a Letter: ").lower() #inputs guesses

    if len(guess)!=1: #if more than one letters are input
        print("Please enter a single letter! Try again")
    elif not guess.isalpha(): #if something except a letter is input
        print("Please enter a letter! Try again")
    else:
        if guess in guessed_letters:
            print(f"You have already guessed '{guess}'! Try something else") #in case a letter is repeated
        elif guess in word_letters:
            guessed_letters.add(guess)
            word_letters.remove(guess)
            print(f"Good guess! '{guess}' is in the word") #in case of correct letter
        else:
            guessed_letters.add(guess)
            attempts-=1
            print(f"Wrong guess! '{guess}' is not in the word") #in case of wrong letter
            print(f"Attempts left: {attempts}")
    
if not word_letters: #means word_letters is empty (all letters has been guessed)
    print(f"Congragulations! You have guessed the word {word}")
else:
    print(f"You are out of attempts! The word was {word}")
